PORT= port to deploy the server

PostgreSQL
DATABASE_URL=protocol://user:password@ip:port/data base

JWT
JWT_SECRET=jwt secret

AWS S3
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=key aws
AWS_SECRET_ACCESS_KEY=aws secret
S3_BUCKET=whre is stored the data 

n8n
N8N_WEBHOOK_URL=https://your-n8n-instance.com/webhook/rundurance